yarn.lock
node_modules
.next
.husky
coverage
next.config.ts
public
.prettierignore
.stylelintignore
.eslintignore
.gitignore
redirects.json
contentful-redirects.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
